@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color:#A7A1AE;
    background-color:#92a7d7;
  }
  
  h1 {
    font-size:3em; 
    font-weight: 300;
    line-height:1em;
    text-align: center;
    color: #4DC3FA;
  }
  
  h2 {
    font-size:1em; 
    font-weight: 300;
    text-align: center;
    display: block;
    line-height:1em;
    padding-bottom: 2em;
    color: #FB667A;
  }
  
  h2 a {
    font-weight: 700;
    text-transform: uppercase;
    color: #FB667A;
    text-decoration: none;
  }
.login-btn {
    padding: 10px 20px; /* Increase padding for better touch area */
    background-color: white;
    color: rgb(16, 23, 154);
    text-decoration: none;
    border: none; /* Remove border */
    border-radius: 10px;
    position: absolute;
    cursor: pointer; /* Show pointer cursor on hover */
    top: 11px;
    right: 10px;
    transition: background-color 0.3s ease; /* Smooth color transition */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Use clean and readable font */
    font-size: 14px; /* Adjust font size */
    font-weight: 500; /* Medium font weight for a professional look */
}

.login-btn:hover{
    background-color: #57b4d6;
}

.deco-btn {
    padding: 10px 20px; /* Increase padding for better touch area */
    background-color: white;
    color: rgb(16, 23, 154);
    text-decoration: none;
    border: none; /* Remove border */
    border-radius: 10px;
    position: absolute;
    cursor: pointer; /* Show pointer cursor on hover */
    top: 11px;
    right: 10px;
    transition: background-color 0.3s ease; /* Smooth color transition */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Use clean and readable font */
    font-size: 14px; /* Adjust font size */
    font-weight: 500; /* Medium font weight for a professional look */
}


.deco-btn:hover {
    background-color: rgb(97, 186, 255); /* Darker blue on hover */
}

.temperature-btn {
    padding: 10px 20px; /* Increase padding for better touch area */
    background-color: white;
    color: rgb(16, 23, 154);
    text-decoration: none;
    border: none; /* Remove border */
    border-radius: 10px;
    position: absolute;
    cursor: pointer; /* Show pointer cursor on hover */
    top: 11px;
    right: 150px;
    transition: background-color 0.3s ease; /* Smooth color transition */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Use clean and readable font */
    font-size: 14px; /* Adjust font size */
    font-weight: 500; /* Medium font weight for a professional look */
}


.temperature-btn:hover {
    background-color: rgb(97, 186, 255); /* Darker blue on hover */
}