html,
body {
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 80px;
}

.leaflet-container {
    height: 400px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

#map {
    height: 83.7%;
    width: 100%;
}
/*box choix annee
#choixannee {
    position: absolute;
    top: 115px;
    left: 55px;
    transform: translateY(-50%);
    z-index: 999;
}

.anneeLabel {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: black;
    text-align: center;
    margin-bottom: 1px;
}*/

/* box d'indication temp */
#box {
    position: absolute;
    left: 15px;
    bottom: 20px;
    background-color: white; /* Set background color to white */
    text-align: center;
    border-radius: 8px;
    padding: 8px;
    z-index: 999;
}


.caree {
    width: 12px;
    height: 10px;
    display: inline-block;
    margin-right: 3px;
}

.bleu {
    background-color: blue;
}
.orange {
    background-color: orange;
}

.rouge {
    background-color: red;
}
h4,
span {
    color: black;
    font-weight: bold;
}

