/* ----- general ----- */
.flex {
    display: flex;
}


/* ----- carte ----- */
#map {
    height: 100vh;
    width: 100vw;
}

p {
    font-weight: bold;
    margin: 0;
}

.button {
    position: absolute;
    top: 200px;
    left: 100px;
    z-index: 999;
    height: 30px;
    background-color: #ffffff;
    border: 0;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 -1px 0px rgb(0 0 0 / 2%);
    color: #202124;
    cursor: pointer;
    border-radius: 16px;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
}

.button:hover {
    background-color: rgb(240, 240, 240);
}

/* ----- position des bouton ----- */
.leaflet-top {
    top: 80px;
}

.leaflet-left {
    left: 10px;
}

.leaflet-right {
    right: 30px;
}


/* ----- parametre ----- */
#param {
    position: absolute;
    top: 110px;
    left: 100px;
    z-index: 999;
    border-radius: 16px;
    border: 0;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 -1px 0px rgb(0 0 0 / 2%);
    color: #202124;
    padding: 10px;
    background-color: #ffffff;
}

input {
    margin-top: 10px;
}

#annee2 {
    margin-left: 10px;
}

#annee1label {
    margin-top: 10px;
}

#annee2label {
    margin-top: 10px;
}

/* ----- bouton zoom ----- */
.leaflet-bar a {
    background-color: #000;
    color: rgb(220, 220, 220);
}

.leaflet-bar a:hover {
    background-color: #000;
    color: #fff;
    font-size: 40px;
}

.leaflet-bar a.leaflet-disabled {
    background-color: #000;
    color: rgb(120, 120, 120);
}

.leaflet-bar a.leaflet-disabled {
    background-color: #000;
    color: rgb(120, 120, 120);
    font-size: 22px;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    border: none;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 -1px 0px rgb(0 0 0 / 2%);
    border-radius: 8px;
}

.leaflet-touch .leaflet-bar a {
    border-radius: 8px 8px 8px 8px;
}

.leaflet-touch .leaflet-bar a:first-child {
    border-radius: 8px 8px 0 0;
}

.leaflet-touch .leaflet-bar a:last-child {
    border-radius: 0 0 8px 8px;
}


/* ----- bouton perso ----- */
button[title='Zoom France'] {
    background-color: #000;
    color: #fff;
    font-weight: bold;
}

button[title='Zoom France']:hover {
    background-color: #000;
    color: #fff;
    font-weight: bold;
}

button[title='changer le fond de carte'] {
    background-color: #000;
    color: #fff;
    font-weight: bold;
}

button[title='changer le fond de carte']:hover {
    background-color: #000;
    color: #fff;
    font-weight: bold;
}

button[title='changer le fond de carte'] span span img:hover {
    margin-left: -1px;
}

/* je sais plus à quoi ça sert*/

.leaflet-container .leaflet-control-attribution {
    background-color: rgba(0, 0, 0, 0);
}

.leaflet-container .leaflet-control-attribution a {
    color: #fff;
}

.leaflet-container .leaflet-control-attribution span {
    color: #fff;
}

.leaflet-control-attribution,
.leaflet-control-scale-line {
    color: #bfe5ff;
}


/* ----- img dans bouton ----- */
.imgButton {
    margin-top: 6px;
    height: 17px;
}

.imgButton:hover {
    margin-top: 3px;
    height: 22px;
}

/* ----- legend ----- */
.legend {
    position: absolute;
    bottom: 40px;
    left: 20px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 16px;
    border: 0;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 -1px 0px rgb(0 0 0 / 2%);
    color: #fff;
    padding: 10px;
}

.bleu {
    background-color: blue;
}

.rouge {
    background-color: red;
}

.caree {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 3px;
}