footer {
    background-color: #0079b8;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center; /* Center content horizontally */
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
}
