footer {
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 10px;
    z-index: 999;
}
