body, html {
    margin: 0;
    padding: 0;
}

header {
    background-color: #2368D1;
    padding: 15px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 30px; 
    width: 100%; 
    position: fixed; 
}

.login-btn {
    padding: 6px 15px;
    background-color: #fff;
    color: #0d2a63;
    text-decoration: none;
    border-radius: 10px;
}

.titre{
    color:rgb(255, 255, 255);
    font-size: 25px;
}

.hide-button .login-btn {
    display: none;
}